Repository Avanyankar/AlgEdu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: python-lint, python-tests, cpp-lint, deploy-python, build-cpp

python-lint:
  stage: lint
  image: python:${PYTHON_VERSION}
  before_script:
  - pip install pylint flake8 pylint-django
  - pip install -r team_website/requirements.txt
  script:
  ...

python-tests:
  stage: test
  image: python:${PYTHON_VERSION}
  before_script:
  - pip install -r team_website/requirements.txt
  - pip install coverage
  script:
  ...

cpp-lint:
  stage: lint
  image: ubuntu:latest
  before_script:
  - apt-get update -qq
  - apt-get install -y git python3 cpplint
  script:
  ...

deploy-python:
  stage: deploy
  environment:
    name: production
    url: http://${SERVER_IP}
  needs:
  - python-tests
  script:
  ...

build-cpp:
  stage: deploy
  tags:
  - cpp
  script:
  - 'echo "Building C++ project..."
  
    cd application
  
    mkdir -p build
  
    cd build
  
    cmake ..
  
    make
  
    '
  artifacts:
    paths:
    - application/build/
    expire_in: 1 week

documentation_design
  team_website/main_app/templates/documentation.html
Due: python-lint, python-tests, deploy-python

Промежуточный коммит
  application/desktop/source/parser.cpp
  application/desktop/source/parser.h
Due: cpp-lint, build-cpp

created logger
  team_website/AlgEdu_Team/settings.py
  team_website/__init__.py
  team_website/main_app/views.py
Due: python-lint, python-tests, deploy-python

Add CMakeLists.txt
  application/CMakeLists.txt
Due: cpp-lint, build-cpp

Добавление части ссылок
  README.md
  application/README.md
Due: cpp-lint, build-cpp

Update all README and requirments files
  README.md
  application/README.md
  application/requirments.txt
  application_website/README.md
  team_website/README.md
  team_website/requirements.txt
Due: python-lint, python-tests, cpp-lint, deploy-python, build-cpp

Исправление pylint на cpplint
  application/README.md
Due: cpp-lint, build-cpp

move grammar file
  application/grammar.ebnf
Due: cpp-lint, build-cpp

Refactor variables
  application/desktop/source/baseVariable.cpp
  application/desktop/source/baseVariable.h
  application/desktop/source/integer.cpp
  application/desktop/source/integer.h
  application/desktop/source/string.cpp
  application/desktop/source/string.h
  application/desktop/source/variable.cpp
  application/desktop/source/variable.h
Due: cpp-lint, build-cpp

Начало полной переработки логики утверждений
  application/desktop/desktop.vcxproj
  application/desktop/desktop.vcxproj.filters
  application/desktop/source/lib.cpp
  application/desktop/source/lib.h
  application/desktop/source/parser.cpp
  application/desktop/source/parser.h
  application/desktop/source/statement.cpp
  application/desktop/source/statement.h
  application/desktop/source/token.cpp
  application/desktop/source/token.h
Due: cpp-lint, build-cpp

Начало полной переработки логики утверждений (добавление забытых файлов)
  application/desktop/source/assignment.cpp
  application/desktop/source/assignment.h
  application/desktop/source/baseStatement.cpp
  application/desktop/source/baseStatement.h
  application/desktop/source/declaration.cpp
  application/desktop/source/declaration.h
  application/desktop/source/standardStatements.h
Due: cpp-lint, build-cpp

delete useless files
  team_website/__init__.py
  team_website/main_app/mixins.py
Due: python-lint, python-tests, deploy-python

Refactor python code
  team_website/AlgEdu_Team/settings.py
  team_website/main_app/admin.py
  team_website/main_app/apps.py
  team_website/main_app/forms.py
  team_website/main_app/models.py
  team_website/main_app/tests.py
  team_website/main_app/views.py
  team_website/manage.py
Due: python-lint, python-tests, deploy-python

Refactor project files
  README.md
  application/README.md
  application/grammar.ebnf
  team_website/README.md
Due: python-lint, python-tests, cpp-lint, deploy-python, build-cpp

Refactor C++ code and some not important changes
  application/desktop/desktop.vcxproj
  application/desktop/desktop.vcxproj.filters
  application/desktop/source/assignment.cpp
  application/desktop/source/assignment.h
  application/desktop/source/baseStatement.cpp
  application/desktop/source/baseStatement.h
  application/desktop/source/baseVariable.cpp
  application/desktop/source/baseVariable.h
  application/desktop/source/integer.cpp
  application/desktop/source/integer.h
  application/desktop/source/lexer.cpp
  application/desktop/source/lexer.h
  application/desktop/source/parser.cpp
  application/desktop/source/parser.h
  application/desktop/source/standardStatements.h
  application/desktop/source/string.cpp
  application/desktop/source/string.h
  application/desktop/source/token.cpp
  application/desktop/source/token.h
  application/desktop/source/tokenType.h
Due: cpp-lint, build-cpp

HOTFIX: make constuctors of Lexer and Parser explicit
  application/application.sln
  application/desktop/source/lexer.cpp
  application/desktop/source/lexer.h
  application/desktop/source/parser.h
Due: cpp-lint, build-cpp

Delete trash
  application/application.sln
  application/tests/packages.config
  application/tests/pch.cpp
  application/tests/pch.h
  application/tests/test.cpp
  application/tests/tests.vcxproj
  application/tests/variable_test.cpp
Due: cpp-lint, build-cpp

mini_changes
  team_website/main_app/templates/about.html
  team_website/main_app/templates/footer.html
  team_website/main_app/templates/header.html
  team_website/main_app/templates/index.html
  team_website/main_app/templates/login.html
  team_website/main_app/templates/register.html
Due: python-lint, python-tests, deploy-python

test
  team_website/main_app/templates/index.html
Due: python-lint, python-tests, deploy-python

Update CMakeLists.txt
  application/CMakeLists.txt
Due: cpp-lint, build-cpp

Промежуточный коммит
  application/desktop/source/baseStatement.h
  application/desktop/source/baseVariable.cpp
  application/desktop/source/baseVariable.h
  application/desktop/source/integer.cpp
  application/desktop/source/integer.h
  application/desktop/source/string.cpp
  application/desktop/source/string.h
Due: cpp-lint, build-cpp

hotfix add forgotten changes
  application/desktop/source/baseStatement.h
  application/desktop/source/baseVariable.cpp
  application/desktop/source/declaration.cpp
  application/desktop/source/declaration.h
Due: cpp-lint, build-cpp

Update README
  team_website/README.md
Due: python-lint, python-tests, deploy-python

Add tests
  team_website/main_app/tests.py
Due: python-lint, python-tests, deploy-python

Map saving
  application/desktop/imgui.ini
  application/desktop/source/main.cpp
Due: cpp-lint, build-cpp

Продолжение изменения логики statements
  application/desktop/source/assignment.cpp
  application/desktop/source/assignment.h
  application/desktop/source/baseStatement.cpp
  application/desktop/source/baseStatement.h
  application/desktop/source/declaration.cpp
  application/desktop/source/declaration.h
  application/desktop/source/parser.cpp
  application/desktop/source/parser.h
  application/desktop/source/standardStatements.h
Due: cpp-lint, build-cpp

feat: build C++ stage
  .gitlab-ci.yml
Due: none

промежуточный коммит
  application/desktop/include/assignment.h
  application/desktop/include/baseStatement.h
  application/desktop/include/baseVariable.h
  application/desktop/include/declaration.h
  application/desktop/include/integer.h
  application/desktop/include/lexer.h
  application/desktop/include/parser.h
  application/desktop/include/standardStatements.h
  application/desktop/include/string.h
  application/desktop/include/token.h
  application/desktop/include/tokenType.h
  application/desktop/source/assignment.cpp
  application/desktop/source/baseStatement.cpp
  application/desktop/source/baseVariable.cpp
  application/desktop/source/declaration.cpp
  application/desktop/source/integer.cpp
  application/desktop/source/lexer.cpp
  application/desktop/source/main.cpp
  application/desktop/source/parser.cpp
  application/desktop/source/string.cpp
  application/desktop/source/token.cpp
  team_website/main_app/migrations/0003_remove_reportcomment_comment_and_more.py
Due: python-lint, python-tests, cpp-lint, deploy-python, build-cpp

Очистка от комментариев и пустых строк, вынос классов
  application/desktop/include/cell.h
  application/desktop/include/cellCord.h
  application/desktop/include/commandType.h
  application/desktop/include/frameContext.h
  application/desktop/include/gridCommand.h
  application/desktop/source/cell.cpp
  application/desktop/source/cellCord.cpp
  application/desktop/source/frameContext.cpp
  application/desktop/source/gridCommand.cpp
  application/desktop/source/main.cpp
Due: cpp-lint, build-cpp

hotfix: Очистка от комментариев и пустых строк, вынос классов (несохранённое из main.cpp)
  application/desktop/source/main.cpp
Due: cpp-lint, build-cpp

more refactors in main.cpp
  application/desktop/include/cellCord.h
  application/desktop/include/commandType.h
  application/desktop/include/frameContext.h
  application/desktop/source/main.cpp
  application/desktop/source/parser.cpp
Due: cpp-lint, build-cpp

Исправление ошибок
  application/CMakeLists.txt
  application/desktop/desktop.vcxproj
  application/desktop/desktop.vcxproj.filters
  application/desktop/include/baseStatement.h
  application/desktop/include/baseVariable.h
  application/desktop/include/integer.h
  application/desktop/include/parser.h
  application/desktop/include/standardStatements.h
  application/desktop/include/string.h
  application/desktop/source/baseVariable.cpp
  application/desktop/source/declaration.cpp
  application/desktop/source/frameContext.cpp
  application/desktop/source/integer.cpp
  application/desktop/source/main.cpp
  application/desktop/source/parser.cpp
  application/desktop/source/string.cpp
Due: cpp-lint, build-cpp

Commit
  application/desktop/desktop.vcxproj
  application/desktop/include/parser.h
  application/desktop/include/token.h
  application/desktop/source/assignment.cpp
  application/desktop/source/baseStatement.cpp
  application/desktop/source/baseVariable.cpp
  application/desktop/source/cell.cpp
  application/desktop/source/cellCord.cpp
  application/desktop/source/declaration.cpp
  application/desktop/source/frameContext.cpp
  application/desktop/source/gridCommand.cpp
  application/desktop/source/integer.cpp
  application/desktop/source/lexer.cpp
  application/desktop/source/main.cpp
  application/desktop/source/parser.cpp
  application/desktop/source/string.cpp
  application/desktop/source/token.cpp
Due: cpp-lint, build-cpp

hotfix
  application/desktop/include/token.h
  application/desktop/source/token.cpp
Due: cpp-lint, build-cpp

hotfix
  application/desktop/source/main.cpp
Due: cpp-lint, build-cpp

commit
  application/desktop/desktop.vcxproj.filters
  application/desktop/source/main.cpp
Due: cpp-lint, build-cpp

commit
  application/desktop/desktop.vcxproj
  application/desktop/desktop.vcxproj.filters
Due: cpp-lint, build-cpp

Path conditions:
  python-lint: any of: team_website/**/*, application_website/**/*
  python-tests: any of: team_website/**/*, application_website/**/*
  cpp-lint: any of: application/**/*
  deploy-python: any of: team_website/**/*, application_website/**/*
  build-cpp: any of: application/**/*
