Repository Avanyankar/AlgEdu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-app-website, test-app-website, build-team-website, test-team-website, deploy-team-website

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
# This is a sample GitLab CI/CD configuration file that should run without any modifications.
# It demonstrates a basic 3 stage CI/CD pipeline. Instead of real tests or scripts,
# it uses echo commands to simulate the pipeline execution.
#
# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/yaml/#stages
#
# You can copy and paste this template into a new `.gitlab-ci.yml` file.
# You should not add this template to an existing `.gitlab-ci.yml` file by using the `include:` keyword.
#
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Getting-Started.gitlab-ci.yml

stages:
  - build
  - test
  - deploy

variables:
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_DRIVER: "overlay2"
  PROJECT_DIR: "/opt/final-project"

# ----------------------------
# Application Website (Python)
# ----------------------------
build-app-website:
  stage: build
  rules:
    - if: '$CI_COMMIT_REF_NAME == "WDev"'
      changes:
        - application_website/**/*
        - docker-compose.yml
        - .gitlab-ci.yml
  script:
    - echo "Building Application Website..."
    - cd application_website
    - docker-compose build
    - cd ..

test-app-website:
  stage: test
  rules:
    - if: '$CI_COMMIT_REF_NAME == "WDev"'
      changes:
        - application_website/**/*
  script:
    - echo "Testing Application Website..."
    - cd application_website
    - cd ..

# --------------------
# Team Website (Python)
# --------------------
build-team-website:
  stage: build
  rules:
    - if: '$CI_COMMIT_REF_NAME == "WDev"'
      changes:
        - team_website/**/*
        - docker-compose.yml
        - .gitlab-ci.yml
  script:
    - echo "Building Team Website..."
    - cd team_website
    - docker-compose build
    - cd ..

test-team-website:
  stage: test
  rules:
    - if: '$CI_COMMIT_REF_NAME == "WDev"'
      changes:
        - team_website/**/*
  script:
    - echo "Testing Team Website..."
    - cd team_website
    - docker-compose run --rm web python manage.py test
    - docker-compose run --rm web flake8 .
    - cd ..

# -----------------
# Deploy (Both Python projects)
# -----------------
deploy-app-website:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_REF_NAME == "WDev"'
      changes:
        - application_website/**/*
      when: manual
  environment:
    name: production
    url: http://$SERVER_IP
  script:
    - echo "Deploying Application Website..."
    - 'ssh -o StrictHostKeyChecking=no root@$SERVER_IP "cd $PROJECT_DIR/application_website && git fetch && git reset --hard origin/WDev && docker compose down && docker compose up -d --build"'

deploy-team-website:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_REF_NAME == "WDev"'
      changes:
        - team_website/**/*
  environment:
    name: production
    url: http://$SERVER_IP
  script:
    - echo "Deploying Team Website..."
    - 'ssh -o StrictHostKeyChecking=no root@$SERVER_IP "cd $PROJECT_DIR/team_website && git fetch && git reset --hard origin/WDev && docker compose down && docker compose up -d --build"'

# Общая очистка
cleanup:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_REF_NAME == "WDev"'
  script:
    - echo "Cleaning up..."
    - docker system prune -f
  when: always

Edit README.md
  README.md
Due: none

Design: fix
  team_website/main_app/templates/footer.html
  team_website/main_app/templates/header.html
  team_website/main_app/templates/login.html
Due: build-team-website, test-team-website, deploy-team-website

added: int operations
  application/desktop/desktop.vcxproj
  application/desktop/desktop.vcxproj.filters
  application/desktop/source/variable.cpp
  application/enc_temp_folder/6666cd76f96956469e7be39d75cc7d9/main.cpp
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build-app-website, build-team-website

Add new CI/CD file
  .gitlab-ci.yml
Due: build-app-website, build-team-website

Edit .gitlab-ci.yml (add install requirements.txt before script)
  .gitlab-ci.yml
Due: build-app-website, build-team-website

fix: Edit .gitlab-ci.yml (add checker for tests.py)
  .gitlab-ci.yml
Due: build-app-website, build-team-website

fix: Edit .gitlab-ci.yml
  .gitlab-ci.yml
Due: build-app-website, build-team-website

test commit for TRIGGER CI/CD
  team_website/main_app/views.py
Due: build-team-website, test-team-website, deploy-team-website

update grammar, оформление под EBNF
  application/desktop/grammar.ebnf
Due: none

HOTFIX: удаление старого файла, исправление ошибки в новом
  application/desktop/grammar.ebnf
  application/desktop/grammat.txt
Due: none

update Lexer
  application/desktop/source/lexer.cpp
Due: none

HOTFIX TokenType update
  application/desktop/source/tokenType.h
Due: none

feat: Sphinx (initial commit)
  .gitlab-ci.yml
  team_website/docs/Makefile
  team_website/docs/make.bat
  team_website/docs/modules.rst
  team_website/docs/source/conf.py
  team_website/docs/source/index.rst
Due: build-app-website, build-team-website, test-team-website, deploy-team-website

added basevariable and string
  application/desktop/source/variable.cpp
  application/desktop/source/variable.h
Due: none

Google style code
  application/desktop/source/variable.cpp
  application/desktop/source/variable.h
Due: none

Перенос файлов
  application/desktop/desktop.vcxproj
  application/desktop/grammar.ebnf
  application/desktop/source/emitter.cpp
  application/desktop/source/emitter.h
  application/desktop/source/lexer.cpp
  application/desktop/source/tokenType.h
Due: none

upgrade pylint score
  team_website/AlgEdu_Team/urls.py
  team_website/main_app/admin.py
  team_website/main_app/forms.py
  team_website/main_app/models.py
  team_website/main_app/templates/documentation.html
  team_website/main_app/views.py
  team_website/requirements.txt
  team_website/static/meow.jpg
Due: build-team-website, test-team-website, deploy-team-website

upgrade pylint score
  team_website/main_app/views.py
Due: build-team-website, test-team-website, deploy-team-website

feat: deploy website from main
  .gitlab-ci.yml
Due: build-app-website, build-team-website

upgrade pylint score
  team_website/main_app/models.py
  team_website/main_app/views.py
Due: build-team-website, test-team-website, deploy-team-website

bugfix: variable
  application/CMakeLists.txt
  application/application.sln
  application/desktop/imgui.ini
  application/desktop/source/variable.h
  application/desktop/source/variable_test.cpp
  application/enc_temp_folder/6666cd76f96956469e7be39d75cc7d9/main.cpp
  application/tests/packages.config
  application/tests/pch.cpp
  application/tests/pch.h
  application/tests/test.cpp
  application/tests/tests.vcxproj
Due: none

Increase pylint score
  team_website/1.txt
  team_website/AlgEdu_Team/settings.py
  team_website/AlgEdu_Team/urls.py
  team_website/README.md
  team_website/main_app/admin.py
  team_website/main_app/forms.py
  team_website/main_app/mixins.py
  team_website/main_app/models.py
  team_website/main_app/templates/moderation/style.css
  team_website/main_app/templates/spinning_image.html
  team_website/main_app/templates/style.css
  team_website/main_app/tests.py
  team_website/main_app/views.py
  team_website/manage.py
Due: build-team-website, test-team-website, deploy-team-website

add: tests
  application/desktop/source/variable.cpp
  application/desktop/source/variable.h
  application/desktop/source/variable_test.cpp
  application/tests/test.cpp
Due: none

variable_test
  application/tests/test.cpp
  application/tests/tests.vcxproj
  application/tests/variable_test.cpp
Due: none

fix:valid CI/CD config
  .gitlab-ci.yml
Due: build-app-website, build-team-website

fix: docs are remaked
  team_website/main_app/admin.py
  team_website/main_app/apps.py
  team_website/main_app/forms.py
  team_website/main_app/mixins.py
  team_website/main_app/models.py
  team_website/main_app/tests.py
  team_website/main_app/views.py
Due: build-team-website, test-team-website, deploy-team-website

Update interprete logic
  application/desktop/source/emitter.cpp
  application/desktop/source/emitter.h
  application/desktop/source/lexer.cpp
  application/desktop/source/lexer.h
  application/desktop/source/parser.cpp
  application/desktop/source/parser.h
  application/desktop/source/token.cpp
Due: none

Update interpreter logic
  application/desktop/source/lib.cpp
  application/desktop/source/lib.h
  application/desktop/source/statement.cpp
  application/desktop/source/statement.h
Due: none

finish merging
  application/desktop/desktop.vcxproj
  application/desktop/desktop.vcxproj.filters
Due: none

Update information
  README.md
  application/README.md
  patterns.txt
Due: none

the enumeration
  application/desktop/imgui.ini
  application/desktop/source/main.cpp
Due: none

tests
  team_website/main_app/tests.py
Due: build-team-website, test-team-website, deploy-team-website

tests2
  team_website/main_app/tests.py
Due: build-team-website, test-team-website, deploy-team-website

rewrote: tests
  team_website/main_app/tests.py
Due: build-team-website, test-team-website, deploy-team-website
